#Specific project files

opencfu
trainer
data/*.xml
*/images-stock/*
#Codeblocks
*.layout.cbTemp
*.cscope_file_list
geany_run_script.sh

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so


*/__pycache__/

#autotools
*.Po
*.cache/
*.cache
build-aux/
.dirstamp
.deps/
config/
config.*
Makefile
stamp-h1
*.in
aclocal.m4
configure

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.tar.gz
*.d
*.pdf
*.avi
*.out
*.aux
*.log
*~

#django:

djangoCFU/images-stock
djangoCFU/images-stock/*
db.sqlite3
*.pyc
*.pyo


