[Desktop Entry]
Name=OpenCFU
Comment=A modern program to count circular objects from pictures or webcams
Name[en_GB]=OpenCFU
Comment[en_GB]=A modern program to count circular objects from pictures or webcams
Version=1.0
Exec=opencfu
Icon=opencfu
Icon[en_GB]=opencfu
Terminal=false
Type=Application
Categories=Science;Biology;ImageProcessing;
