Source: opencfu
Maintainer: Quentin Geissmann <opencfu@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), libgtkmm-2.4-dev
Depends: libcv (>=2.4)

Package: opencfu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Todododododo
